body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  /*background with linear gradient*/
  background: linear-gradient(67deg, rgba(171, 240, 11, 0.938),rgba(160, 22, 40, 0.74))
}


button {
	cursor: pointer;
}
