body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  /*background with linear gradient*/
  background: linear-gradient(67deg, rgba(51, 199, 130, 0.555),rgba(53, 53, 179, 0.705))
}


button {
	cursor: pointer;
}

